* {
	box-sizing: border-box;
}

table {

	 padding-top: 0;
}

th {
	 text-align: left;
	 background: #222;
	 color: #FFF;
  
}

td {
	border: solid black;
}
tbody {
	border: solid black;
}


nav {
	padding: 0;
}

nav li {
	  display: inline-block;
	  list-style: none;
	  margin-right: 2em;
}

nav a {

  	text-decoration: none;
  	color: white;
}

nav a:hover {
  	text-decoration: underline;
  	font-weight: bold;
}

img {
	max-width: 100%;
}


body {
	display: flex;
	min-height: 100vh;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

h1 {
	text-align: center;
	color: white;

}

h2 {
	font-family: cursive;
}

header,
footer {
	background: blue;

}

footer {
	text-align: center;
	color: white;
}

section {
	display: flex;
	flex-grow: 1
}

article {
	flex-grow: 1;
	padding-right: 1em;

}

.scroll {
	width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.scroll tbody{
	display: block;
	overflow-y: auto;
	height: 5em;
}

.scroll thead tr {
   display: block;
}

.scroll th, .scroll td {
  padding: .5em;
  text-align: left;
  width: 50em;
 }

.img-left {
	float: left;
	padding-right: 1em;
}

.clear {
	clear: both;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
	color: red;
	padding-right: 1em;
}

.form-field-req {

}

.rounded {
  border-radius: 2em;
}

.banner-img {
  	position: relative;
  
}

.banner-img span {
  	position: absolute;
  	background: blue;
  	color: white;
  	padding: .5em 1em;
  	border-radius: 2em;
  	z-index: 1;
  
}

.t-flex {
	display: flex;
	flex-grow: 6;
}

#bottom {
	bottom: 1em;
	right: 2em;
}

#top {
	position: absolute;
	top: 1em;
	background: gray;
	color: white;
	padding: .5em 1em;
	border-radius: 2em;
	z-index: 1;
	opacity: .4
  
}

#Feedback{	
	border: solid .1em gray;
	padding: 0 1.2em;
	margin-top: 1em;
}

#abroad {
	color: red;
}

input[type ="information"],
select {
  width: 100%;
  padding: .25em;
}
